<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">

<dom-module id="sanitizer-template">
    <template>
        <vaadin-form-layout>
            <vaadin-text-field label="First Name" value="Jane"></vaadin-text-field>
            <vaadin-text-field label="Last Name" value="Doe"></vaadin-text-field>
            <vaadin-text-field label="Email" value="jane.doe@example.com"></vaadin-text-field>
            <vaadin-date-picker label="Birthday" value="1993-06-23"></vaadin-date-picker>
            <vaadin-text-area label="Bio" colspan="2" value="My name is Jane."></vaadin-text-area>
        </vaadin-form-layout>
    </template>
</dom-module>